<link rel="stylesheet" href="css/components/footer.css">
<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-column">
            <h3>Základní informace</h3>
            <p>Gymnázium a Základní škola T. G. Masaryka Mnichovice<br>
               okres Praha - východ, příspěvková organizace<br>
               Bezručova 346, 251 64 Mnichovice<br>
               IČ: 70 99 23 98<br>
               Datová schránka: jv4mtcm<br>
               Zřizovatel: Město Mnichovice<br>
               <a href="https://www.mnichovice.cz" target="_blank">www.mnichovice.cz</a>
            </p>
        </div>
        
        <div class="footer-column">
            <h3>Kancelář školy</h3>
            <p><a href="mailto:info@gymnaziummnichovice.cz">info@gymnaziummnichovice.cz</a></p>
        </div>
        
        <div class="footer-column">
            <h3>Vedení školy</h3>
            <p>Ředitelka školy: Mgr. Marcela Erbeková<br>
               Statutární zástupce ředitelky školy: Mgr. Petra Kaprálková</p>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>© 2025 Gymnázium v Mnichovicích. All rights reserved.</p>
    </div>
</footer>