<link rel="stylesheet" href="css/components/navbar.css">
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/">
                <img src="images/logo.png" alt="Gymnázium Mnichovice" class="logo-img">
            </a>
        </div>
        
        <div class="nav-toggle" id="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        
        <ul class="main-nav" id="main-nav">
            <li>
                <a href="https://www.gymnaziummnichovice.cz/aktuality/">Aktuality</a>
            </li>
            <li>
                <a href="https://www.gymnaziummnichovice.cz/fotografie/">Fotografie</a>
            </li>
            <li class="dropdown">
                <a href="https://www.gymnaziummnichovice.cz/info">O škole</a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.gymnaziummnichovice.cz/info">Základní informace</a></li>
                    <li><a href="https://www.gymnaziummnichovice.cz/info#ucebni-plan">Učební plán</a></li>
                    <li><a href="https://www.gymnaziummnichovice.cz/info/#spolecne-tvorime-budoucnost">Společne tvoříme budoucnost</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="https://www.gymnaziummnichovice.cz/primacky/">Přijímací řízení</a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.gymnaziummnichovice.cz/primacky/">Kritéria přijímacího řízení</a></li>
                    <li><a href="https://www.gymnaziummnichovice.cz/primacky/#vysledky">Výsledky přijímacího řízení</a></li>
                    <li><a href="https://www.gymnaziummnichovice.cz/primacky/#pocet-prihlasek">Počet přihlášek</a></li>
                    <li><a href="https://www.gymnaziummnichovice.cz/primacky/#dny-otevrenych-dveri">Dny otevřených dveří</a></li>
                </ul>
            </li>
            <li>
                <a href="https://www.gymnaziummnichovice.cz/jidelna/">Jídelna</a>
            </li>
            <li>
                <a href="https://www.gymnaziummnichovice.cz/spoluprace/">Spolupráce</a>
            </li>
            <li>
                <a href="https://www.gymnaziummnichovice.cz/kontakty/">Kontakty</a>
            </li>
        </ul>
        
        <ul class="social-icons">
            <li class="social-icon"><a href="https://www.facebook.com/share/1847jQ72oL/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-icon"><a href="https://www.instagram.com/gymnazium_mnichovice?igsh=MWE0MHVsaHV0NndneA==" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</nav>