<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/">
                <img src="/images/logo.png" alt="Gymnázium Mnichovice" class="logo-img">
            </a>
        </div>

        <div class="nav-toggle" id="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="main-nav" id="main-nav">
            <li>
                <a href="/aktuality/">Aktuality</a>
            </li>
            <li>
                <a href="/fotografie/">Fotografie</a>
            </li>
            <li class="dropdown">
                <a href="/info/">O škole</a>
                <ul class="dropdown-menu">
                    <li><a href="/info/">Základní informace</a></li>
                    <li><a href="/info/#ucebni-plan">Učební plán</a></li>
                    <li><a href="/info/#spolecne-tvorime-budoucnost">Společne tvoříme budoucnost</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/prijimacky/">Přijímací řízení</a>
                <ul class="dropdown-menu">
                    <li><a href="/prijimacky/">Kritéria přijímacího řízení</a></li>
                    <li><a href="/prijimacky/#vysledky">Výsledky přijímacího řízení</a></li>
                    <li><a href="/prijimacky/#pocet-prihlasek">Počet přihlášek</a></li>
                    <li><a href="/prijimacky/#dny-otevrenych-dveri">Dny otevřených dveří</a></li>
                </ul>
            </li>
            <li>
                <a href="/dokumenty/">Dokumenty</a>
            </li>
            <li>
                <a href="/jidelna/">Jídelna</a>
            </li>
            <li>
                <a href="/spoluprace/">Spolupráce</a>
            </li>
            <li>
                <a href="/kontakty/">Kontakty</a>
            </li>
        </ul>

        <ul class="social-icons">
            <li class="social-icon"><a href="https://www.facebook.com/share/1847jQ72oL/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-icon"><a href="https://www.instagram.com/gymnazium_mnichovice?igsh=MWE0MHVsaHV0NndneA==" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</nav>
